@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}

.screen-max-width {
  max-width: 1120px;
  position: relative;
  margin-inline-end: auto;
  margin-inline-start: auto;
}

/* SCROLLBAR STYLES */
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #083344;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fff;
}