@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: '#030712';
  --secondary-color: '#FFFFFF';
  --special-color: '#57B3D8';
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
}

.screen-max-width {
  max-width: 1120px;
  position: relative;
  margin-inline-end: auto;
  margin-inline-start: auto;
}